<%= form_for(@user, :url => checks_path , :html => {:method => :post}) do |f| %>

<%= f.hidden_field :email %>
<div class="field">
  <%= f.label :first_name  %>
  <%= f.text_field :firstname %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :lastname %>
</div>

<div class="field">
  <%= f.label :phone %>
  <%= f.text_field :phone, placeholder: "xxx-xxx-xxxx" %>
</div>

<div class="field">
  <%= f.label :ssn %>
  <%= f.text_field :ssn, placeholder: "xxx-xx-xxxx" %>
<div>

<div class="field">
  <%= f.label :date_of_birth %>
  <%= f.date_select :dob %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
