<% provide(:title, @user.username) %>
    <div class="col-md-4 user_info">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.username %>
        <% if @user.offender %>
          <%= image_tag 'offender-icon.png', id: 'offender-icon' %>
        <% else %>
          <%= image_tag('safe-icon.png', id: 'safe-icon') %>
        <% end %>

      </h3>
    </div>

<!--- sex offend check yet? -->
<% if @user.verify && @user.offender.nil? %>
  <p> enter verify check </p>
  <% sex_check %>
<% end %>

<div class="col-md-4 all-events user-events">
    <div class="tab">
        <button class="tablinks" onclick="load(event, 'host_div')">My Parties</button>
        <button class="tablinks" onclick="load(event, 'current_div')">Parties I Am Attending</button>
    </div>

      <div id="host_div" class="tabcontent"><%= render 'host' %></div>
      <div id="current_div" class="tabcontent"><%= render 'current' %></div>
</div>

<%= javascript_include_tag "event_render" %>
