<% provide(:title, @user.username) %>
<div class="row">
    <div class="user_info">
<h1>
                <%= gravatar_for @user %>

                <%= @user.username %>
            </h1>
        </div>
</div>

<h1>Your Hosted Parties</h1>

<h1>Current Registered Parties</h1>
<div class="col-md-12 all-events">
    <% @counter = 0 %>
    <% Party.all.each do |party| %>
    <% if party.user_id == current_user.id %>
      <% if @counter < 3 %>
      <div class="own-event">
        <div class="color-box">
        <p><%= image_tag Event.find(party.event_id).avatar.url(:thumb) %></p>
        <p><%= link_to Event.name_by_id(party.event_id).first.name, Event.find(party.event_id) %></p>
        <p><%= link_to 'Delete', { action: "drop", id: party.event_id }, data: { confirm: 'Are you sure?' }, :method => :post %></p>
        <p><%= @ffs %></p>
        </div>
      </div>
      <% @counter += 1 %>
      <% end %>
      <% end %>
    <% end %>
</div>

<%= form_tag  %>


</div>



<div class = "row">
Geolocation:
<%= current_user.latitude %>
<%= current_user.longitude %>
</div>
