<% provide(:title, @user.username) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.username %>
            </h1>
        </section>
    </aside>
</div>

<div class = "row">
   <div id = "show_party">
    Current Registered Parties:
    <table id = "current_table">
        <% Party.all.each do |party| %>
          <% if party.user_id == current_user.id %>
          <tr>
            <td><%= link_to Event.name_by_id(party.event_id).first.name, Event.find(party.event_id) %></td>
            <td><%= link_to 'Delete', { action: "drop", id: party.event_id }, data: { confirm: 'Are you sure?' }, :method => :post %></td>
          </tr>
          <% end %>
        <% end %>
    </table>
</div>
</div>

<div class = "row">
Geolocation:
<%= current_user.latitude %>
<%= current_user.longitude %>
</div>
