<% provide(:title, @user.username) %>
    <div class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </div>

<!--- sex offend check yet? -->
<% if @user.verify && @user.offender.nil? %>
  <p> enter verify check </p>
  <% sex_check %>
<% end %>

<div class="col-md-12 all-events">
    <div class="tab">
        <button class="tablinks" onclick="load(event, 'host_div')">Nearby Parties</button>
        <button class="tablinks" onclick="load(event, 'current_div')">My Parties</button>
    </div>

      <div id="host_div" class="tabcontent"><%= render 'host' %></div>
      <div id="current_div" class="tabcontent"><%= render 'current' %></div>
</div>

<%= javascript_include_tag "event_render" %>
