<body>
  <div class="signup-wrap" id="bgwrap">
 <div class="signup-html">
   <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab"></label>
   <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Background Check</label>
   <div class="signup-form">
     <div class="sign-up-htm">
       <%= form_tag verify_path do %>
       <div class="group">
         <label for="user" class="label">Last Four Digits of SSN</label>
           <%= number_field_tag :ssn, nil, class: 'input' %>
       </div>
       <div class="group">
         <label for="user" class="label">First Name</label>
           <%= text_field_tag :address_street1, nil,class: 'input' %>
       </div>
       <div class="group">
         <label for="user" class="label">Last Name</label>
           <%= text_field_tag :address_street2, nil, :class=> 'input' %>
       </div>
       <div class="group">
         <label for="user" class="label">Date Of Birth</label>
         <%= text_field_tag :address_city, nil,class: 'input' %>
       </div>
       <div class="group">
         <label for="user" class="label">Email Address</label>
           <%= select_tag :address_state, options_for_select(us_states), class: 'input'%>
       </div>
       <div class="group">
         <label for="pass" class="label">Postal Code</label>
         <%= text_field_tag :address_postal_code, nil, class: 'input' %>
       </div>
       <div class="group">
         <%= submit_tag("Verify",:class=>"button", :name=>"submit") %>
       </div>
       <% end %>
     </div>
   </div>
 </div>
</div>


</body>
