<h1>Parties Near Me</h1>
<div class="col-md-12 all-events">
    <% @counter = 0 %>
    <% @events.each do |event| %>
    <% if @counter < 3 %>
    <div class="own-event">
        <div class="color-box">
            <p><%= image_tag event.avatar.url(:thumb) %></p>
            <p><%= link_to "#{event.name}", event %></p>
        </div>
    </div>
    <% @counter += 1 %>
    <% end %>
    <% end %>
</div>

<div class="parties-section">
<% if logged_in? %>
<h1>My Parties</h1>
<div class="col-md-12 all-events">
    <% @counter = 0 %>
    <% @my_events.each do |event| %>
    <% if @counter < 3 %>
    <div class="own-event">
        <div class="color-box">
            <p><%= image_tag event.avatar.url(:thumb) %></p>
            <p><%= link_to "#{event.name}", event %></p>
        </div>
    </div>
    <% @counter += 1 %>
    <% end %>
    <% end %>
</div>
<% end %>
</div>


<h1>All Parties</h1>
<div class="col-md-12 all-events">
    <% @counter = 0 %>
    <% Event.all.each do |event| %>
    <% if @counter < 3 %>
    <div class="own-event">
        <div class="color-box">
            <p><%= image_tag event.avatar.url(:thumb) %></p>
            <p><%= link_to "#{event.name}", event %></p>
        </div>
    </div>
    <% @counter += 1 %>
    <% end %>
    <% end %>
</div>
