<p>
  <strong>Host:</strong>
  <% @host = User.find_by id: @event.user_id %>
  <%= @host.username %>
</p>

<p>
  <strong>Event Picture:</strong>
  <br>
  <%= image_tag @event.avatar.url(:large) %>
</p>


<p>
  <strong>Name:</strong>
  <div id='chat_name'><%= @event.name %></div>
</p>


<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Location:</strong>
  <div id="address">
    <%= @event.location %>
  </div>
</p>
<%if logged_in? %>
<p>
  <strong>Map:</strong>
  <div id="map">
  </div>
</p>
<% end %>
