<p>
    <strong>Host:</strong>
    <% @host = User.find_by id: @event.user_id %>
    <%= @host.username %>
</p>

<p>
    <strong>Event Picture:</strong>
    <br>
    <%= image_tag @event.avatar.url(:large) %>
</p>

<p>
    <strong>Name:</strong>
    <%= @event.name %>
</p>

<p>
    <strong>Date:</strong>
    <%= @event.date %>
</p>

<p>
    <strong>Time:</strong>
    <%= @event.time %>
</p>

<p>
    <strong>Location:</strong>
    <%= @event.location %>
</p>
<p>
    <strong>Guests:</strong>
    <ol>
        <% @party.each do |party| %>
        <% if party.event_id == @event.id %>
        <% if logged_in? && @event.user_id == current_user.id%>
        <li><%= link_to User.name_by_id(party.user_id).first.username, User.find(party.user_id) %></li>
        <% else %>
        <li><%= User.name_by_id(party.user_id).first.username %></li>
        <% end %>
        <% end %>
        <% end %>
    </ol>
</p>
<% if logged_in? && @event.user_id == current_user.id%>
<%= button_to 'Edit', edit_event_path(@event), :method => :get, :class => 'event-button'%>
<%= button_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'event-button'%>
<% end %>
<% if logged_in? %>
<%= button_to "Join",{ action: "join", id: @event.id}, {class: 'event-button'}%>
<% end %>

<%= button_to 'Back', events_path, :class => 'event-button', :method => :get %>
