<!-- shows an individual event -->
<%= include_gon %>
<div class = "col-sm-9">
<%= render 'event_details' %>

<!--- guest check-in & charge-->
  <table>
    <thead>
      <tr>
        <th>Guest Name</th>
        <th>Password</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @party.each do |party| %>
      <% if party.event_id == @event.id %>
      <tr>
        <!--- traverse through each party and list guests and attend button to charge -->
        <td>
          <% if logged_in? && @event.user_id == current_user.id%>
          <%= link_to User.name_by_id(party.user_id).first.username, User.find(party.user_id) %>
          <% else %>
          <%= User.name_by_id(party.user_id).first.username %>
          <% end %>
        </td>
        <% if @event.user_id == current_user.id %>
        <td>
          <% if Party.find_by_id(party.id).attended %>
            Paid. Attending right now.
          <% else %>
          <%= form_tag charges_path(:user_id => party.user_id, :event_price => @event.price.to_f, :event_host => @event.user_id, :id => @event.id, :party_id => party.id) do %>
          <div class="field">
            <%= text_field_tag(:enter) %>
          </div>

        </td>
        <td>  
          <%= submit_tag("Attend") %>
          <% end %>
          <% end %>
        </td>
        <% end %>
        <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>


  <% if logged_in? %>
    <% $average = 0 %>
    <% $num = 0 %>

    <!-- Rating and comments for party -->
    <!---if event has already passed? -->
    <% if @event.time < Time.now && @event.date < DateTime.now %>
      <h3>Reviews for party</h3>
      <% Party.all.each do |party| %>
        <% if party.event_id == @event.id && !party.rating.nil?%>
          <% $average = $average + party.rating %>
          <% $num = $num + 1 %>
          <p>Rating by <%= User.name_by_id(party.user_id).first.username %>: <%= party.rating %>, Comment: <%= party.comment %></p>
        <% end %>
      <% end %>
      <% if $average != 0 && $num != 0 %>
        <% $average = $average/$num %>
        <p> Average rating: <%= $average.to_f %></p>
      <% end %>
    <% end %>

      <!-- Chatbox for users -->
      <!-- show chat if it's host or user RSVP to event -->
      <% Party.all.each do |party| %>
        <% if (party.event_id == @event.id && party.user_id == current_user.id) %>
          <%= render 'chat' %>
        <% end %>
      <% end %>

  <% end %>
</div>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@event.price) %>
</p>

<div class = "col-sm-3">
  <% if logged_in? && @event.user_id == current_user.id%>
    <%= button_to 'Edit', edit_event_path(@event), :method => :get, :class => 'event-button'%>
    <%= button_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'event-button'%>
  <% end %>

  <% if logged_in? && !Party.party_exist(current_user.id, @event.id)%>
    <%= link_to 'RSVP', charges_path(:event_id => @event.id, :event_price => @event.price.to_f, :event_host => @event.user_id, :id => @event.id), :class => 'new-button' %>
  <% end %>

  <%= button_to 'Back', "/", :class => 'event-button', :method => :get %>
</div>

<%= javascript_include_tag "map" %>
<script async defer>
<%= raw @map %>
</script>
