<div class = "col-sm-9">
<p>
    <strong>Host:</strong>
    <% @host = User.find_by id: @event.user_id %>
    <%= @host.username %>
</p>

<p>
    <strong>Event Picture:</strong>
    <br>
    <%= image_tag @event.avatar.url(:large) %>
</p>

<p>
    <strong>Name:</strong>
    <%= @event.name %>
</p>

<p>
    <strong>Date:</strong>
    <%= @event.date %>
</p>

<p>
    <strong>Time:</strong>
    <%= @event.time.strftime("%I:%M%p") %>
</p>

<p>
    <strong>Location:</strong>
    <div id="address">
    <%= @event.location %>
    </div>
</p>
<p>
    <strong>Map:</strong>
    <div id="map">
    </div>
</p>
<p>
    <strong>Guests:</strong>
    <ol>
        <% @party.each do |party| %>
        <% if party.event_id == @event.id %>
        <% if logged_in? && @event.user_id == current_user.id%>
        <li><%= link_to User.name_by_id(party.user_id).first.username, User.find(party.user_id) %></li>
        <% else %>
        <li><%= User.name_by_id(party.user_id).first.username %></li>
        <% end %>
        <% end %>
        <% end %>
    </ol>
</p>
<p>
    <strong>Event Chat:</strong>

    <div class="row">
     <div class="col-md-8">
       <div id="messages"></div>
       <input id="chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
     </div>
    </div>
</p>



</div>
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@event.price) %>
</p>

<%= link_to 'RSVP', charges_path(:event_id => @event.id, :event_price => @event.price.to_f, :event_host => @event.user_id) %>

<div class = "col-sm-3">
<% if logged_in? && @event.user_id == current_user.id%>
<%= button_to 'Edit', edit_event_path(@event), :method => :get, :class => 'event-button'%>
<%= button_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'event-button'%>
<% end %>
<% if logged_in? %>
<%= button_to "Join",{ action: "join", id: @event.id}, {class: 'event-button'}%>
<% end %>
<%= button_to 'Back', "/", :class => 'event-button', :method => :get %>
</div>

<script>
   function initMap() {
     var xhr = new XMLHttpRequest();
     var address = document.getElementById('address').textContent;
     var source = "https://maps.googleapis.com/maps/api/geocode/json?address=REPLACEMENT&key=AIzaSyB8Y2tnZHjBCcyXWJNpqeVqXgeJLLcfk5c"
     source = source.replace("REPLACEMENT",address)
     xhr.open("GET", source, false);
     xhr.send();
     var response = JSON.parse(xhr.response)
     console.log(source)
     var display = response.results[0].geometry.location;
     var map = new google.maps.Map(document.getElementById('map'), {
       zoom: 15,
       center: display
     });
     var marker = new google.maps.Marker({
       position: display,
       map: map
     });
   }
</script>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Y2tnZHjBCcyXWJNpqeVqXgeJLLcfk5c&callback=initMap">
</script>
