<!DOCTYPE html>
<html>
  <head>
    <title>Fiesto The Party App</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'fiesto.ico'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="out"></div>
    <div class="container" id="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>

<script>
// $(document).on('turbolinks:load', function(){
//   var x = document.cookie;
//   x =
//   console.log('wtf');
//   console.log(x);
//
//
// });

</script>
